body {
  background-color: #FF5959;
  width: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  font-size: 0.8em;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 6em;
}

.container img {
  width: 300px;
}

.container h1 {
  font-size: 4em;
}

.container p {
  margin-top: 2em;
}
